@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {

    --primary: #0D99FF;
    --primary-20:#0d9aff20;
    --primary-50:#0d9aff50;
    --blue: #0045FF;
    --dark-blue:#0B4999;
    --white: #fff;
    --bg-white:#fff;
    --light: #f7f7f7;
    --dark: #444444;
    --gray:#ECEBF1;
    --gray-50:#BEBCBC;
    --light-gray:#EEEEEE;
    --muted: #7D7D7D;
    --black: #000;
    --black50: rgba(0, 0, 0, 0.5);
    --black10: rgba(0, 0, 0, 0.1);
    --green:#62AC72;
    --success:var(--green);
    --red:#D04444;
    --orange:#F1B859;
    --orange-dark:#bb6802;
    --purple:#6941C6;

    --pending:#A16C2D;
    --pending-light:rgba(241, 215, 165, 0.60);
    --offered:#4789ED;
    --offered-light:rgba(89, 154, 251, 0.26);
    --rejected:#ED4747;
    --rejected-light:rgba(251, 108, 89, 0.26);
    --shortlisted:#5AA846;
    --shortlisted-light:rgba(183, 240, 213, 0.60);
    --under-review:#E7701A;
    --under-review-light:rgba(249, 95, 29, 0.24);



    --logo_height:50px;

    --ff-primary: 'Roboto', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-inter: 'Inter', sans-serif;
    --ff-header: 'Mohave', sans-serif;
    --ff-mohave: 'Mohave', sans-serif;
    --bs-icon:bootstrap-icons!important;

    --normal-text:14px;
    --fs-clamp-12:12px;
    --fs-clamp-14:14px;
    --fs-clamp-16:clamp(0.875rem, 0.848rem + 0.1351vw, 1rem);
    --fs-clamp-18:clamp(1rem, 0.973rem + 0.1351vw, 1.125rem);
    --fs-clamp-20:clamp(1rem, 0.9459rem + 0.2703vw, 1.25rem);
    --fs-clamp-22:clamp(1.125rem, 1.0709rem + 0.2703vw, 1.375rem);
    --fs-clamp-24:clamp(1.25rem, 1.1959rem + 0.2703vw, 1.5rem);
    --fs-clamp-26:clamp(1.25rem, 1.1959rem + 0.2703vw, 1.6rem);
    --fs-clamp-30:clamp(1.625rem, 1.5709rem + 0.2703vw, 1.875rem);
    --fs-clamp-32:clamp(1.625rem, 1.5439rem + 0.4054vw, 2rem);
    --fs-clamp-34:clamp(1.75rem, 1.6689rem + 0.4054vw, 2.125rem);
    --fs-clamp-36:clamp(1.875rem, 1.7939rem + 0.4054vw, 2.25rem);
    --fs-clamp-38:clamp(1.75rem, 1.6149rem + 0.6757vw, 2.375rem);
    --fs-clamp-40:clamp(2.25rem, 2.1959rem + 0.2703vw, 2.5rem);
    --fs-clamp-50:clamp(2.5rem, 2.3649rem + 0.6757vw, 3.125rem);
    --fs-clamp-60:clamp(2.75rem, 2.5338rem + 1.0811vw, 3.75rem);
    --fs-clamp-64:clamp(2.125rem, 1.7196rem + 2.027vw, 4rem);


}
body {
    font-family: var(--ff-primary);
    color: var(--dark);
}
.text-yellow,.text-orange{
    color: var(--orange);
}
.text-primary,.text-blue{
    color: var(--primary);
}
.text-dark{
    color: var(--dark);
}
.text-dark-blue{
    color: var(--dark-blue);
}
.text-green{
    color: var(--green);
}
a,a:hover{
    text-decoration: none;
}

.fs-12{
    font-size: var(--fs-clamp-12);
}
.fs-14{
    font-size: var(--fs-clamp-14);
}
.fs-16{
    font-size: var(--fs-clamp-16);
}
.fs-18{
    font-size: var(--fs-clamp-18);
}
.fs-20{
    font-size: var(--fs-clamp-20);
}
.fs-22{
    font-size: var(--fs-clamp-22);
}
.fs-24{
    font-size: var(--fs-clamp-22);
}
.fs-26{
    font-size: var(--fs-clamp-26);
}
.fs-30{
    font-size: var(--fs-clamp-30);
}
.fs-32{
    font-size: var(--fs-clamp-32);
}
.fs-36{
    font-size: var(--fs-clamp-36);
}
.fs-40{
    font-size: var(--fs-clamp-40);
}
.fs-50{
    font-size: var(--fs-clamp-50);
}
.fs-60{
    font-size: var(--fs-clamp-60);
}
.fs-64{
    font-size: var(--fs-clamp-64);
}

.bg-primary {
    background: var(--primary);
}

.bg-sec {
    background: var(--blue);
}

.bg-white {
    background: var(--white);
}

.bg-light {
    background: var(--light);
}

.bg-dark {
    background: var(--dark);
}
.bg-dark-blue{
    background: var(--dark-blue);
}

.bg-muted {
    background: var(--muted);
}


.text-primary {
    color: var(--primary) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-red {
    color: var(--red) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-green {
    color: var(--green) !important;
}

.text-orange {
    color: var(--orange) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-white {
    color: var(--white) !important;
}

.text-light {
    color: var(--light) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-muted {
    color: var(--muted) !important;
}


.title-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.title-main{
    font-size: var(--fs-clamp-32);
}
.title-20{
    font-size:var(--fs-clamp-20);
}

.title-30{
    font-size: var(--fs-clamp-30);
}
.title-32{
    font-size: var(--fs-clamp-32);
}
.title-40{
    font-size: var(--fs-clamp-40);
}

.title-50{
    font-size:var(--fs-clamp-50);
}
.title-60{
    font-size:var(--fs-clamp-50);
}
.title-64{
    font-size:var(--fs-clamp-64);
}


.uppr {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.normal-text {
    font-size: var(--fs-clamp-14);
}
.btn{
    padding: 10px 20px;
    --bs-border-radius: 8px;
    transition: all 0.35s ease-in-out;
}
.btn-round{
    border-radius: 100px;
}

.btn-sm{
    font-size: 10px;
}
.btn-md{
    font-size:  var(--fs-clamp-12);
}

.fab-md{
    width: 40px;
    height: 40px;
}
.fab-sm{
    width: 30px;
    height: 30px;
}

.btn-fab{
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary-dark,.btn-dark-primary,.btn-dark-blue{
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: white;
}
.btn-primary-dark:hover,.btn-dark-primary:hover,.btn-dark-blue:hover{
   opacity: 0.7;
   background-color: var(--dark-blue);
   border-color: var(--dark-blue);
   color: white;
}
.btn-success,.btn-green{
    background-color: var(--green);
    border-color: var(--green);
}
.btn-full,.btn-fluid{
    width: 100%;
}


/*-------------------------  Nav-menu start -------------------------------*/
.sticky .nav-main {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow:  0 2px 20px #00000016;
}

.navbar-brand img{
    height: var(--logo_height);
}
.navbar-toggler i{
    font-size: 30px;   
}
.userloginregister i{
    font-size: 30px;   
}
/*-------------------------  Nav-menu close-------------------------------*/
/*-------------------------  preloader start-------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f2f8ff;
    z-index: 999;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 999999;
}
/*-------------------------  preloader close-------------------------------*/
/*-------------------------  heroslider start-------------------------------*/
/* .heroSlider_wrapper{
} */
.hero-slider{
    position: relative;
    
}
.hero-slider  .swiper-slide{
    
    border:0px !important;
}

.hero-slider .swiper-slide img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border:0px !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    outline: 0 !important;
    box-shadow: none !important;
    z-index: 0;
    border:0px !important;
}


/*-------------------------  heroslider close-------------------------------*/

/*------------------------ job list tab start -------------------------------*/
.nav-home-tab{
    place-content: center;
}
.nav-home-tab .nav-link{
    position: relative;
    padding: 10px 30px;
    border-radius: 0;
    background-color: var(--primary);
    color: white;
    border: none;
    font-size:  var(--fs-clamp-18);
    min-width: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: all 0.35s linear;

}
.nav-home-tab .nav-link.active{
    background-color: var(--black);
    color: white;
}
.nav-home-tab .tab-item.active .nav-link{
    background-color: var(--black);
    color: white;
}
/* .nav-home-tab-content{
    padding: 30px;
} */
.hr-primary{
    width: 100%;
    height: 1px;
    background: var(--primary)
}

.job-list-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    gap: 20px;
}
.job-item{
    display: flex;
    flex-flow: column;
}
.job-item .job-title{
    font-size: var(--fs-clamp-18);
    color: var(--dark);
    font-weight: 700;
    padding: 10px;
    padding-left: 0;
    position: relative;
    display: flex;
    align-items: flex-start;
}
.job-item .job-title:hover{
    color: var(--primary);
}
.job-item .job-title::before{
    position: relative;
    content: '\F51C';
    font-family: var(--bs-icon);
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    margin-right: 5px;
    font-size: var(--fs-clamp-30);
    line-height: 1;
    top: -1px;
}
.job-item .job-content{
    border-top: 1px solid var(--muted);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: var(--fs-clamp-14);
}
.job-item .coupon-code{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid var(--muted);
    border-top: 0px;
    gap: 20px;
}
.job-item .post-date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.job-item .link,.postOn{
    font-weight: 700;
}

/*------------------------ job list tab close -------------------------------*/


.text-primary{
    color: var(--blue);
}

/*------------------------ partners start -------------------------------*/
.partners-logos{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}
.partners-logos .logo-item{
   width: 200px;
   height: 140px;
   display: flex;
   place-content: center;
}

/*------------------------ partners close -------------------------------*/

/*------------------------ guide-to-legafin start -------------------------------*/
.guide-to-legafin{
    background: var(--primary);
    color: white;
    padding: 30px;
}
.guide-to-legafin .content{
    font-size: var(--fs-clamp-20)
}
.guide-video{
    
    height: 180px;
    border: 1px solid white;
}

/*------------------------ guide-to-legafin close -------------------------------*/



/*------------------------ event start -------------------------------*/
.legal-finance
{
    padding: 30px 0;
}
.event_swiper .swiper-slide{
    padding:20px;
}
.event_item{
    display: flex;
    align-items: center;
    gap: 20px;
   box-shadow: 0 6px 20px #00000023;
   padding: 10px;
}
.event_img{
    width: 170px;
    height: 200px;
    overflow: hidden;
    flex-shrink: 0;
}
.event_img img{
    height: 100%;
    width: auto;
}
.event_content{
    padding: 10px;
}
.event_content .normal-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.event_content .content_row{
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.reviewsWrapper{
    padding: 20px;
    background: var(--light);
}
.reviewsList{
    list-style: none;
    padding: 0;
}

.reviewsList-item{
    background: white;
    padding: 20px;
    border: 1px solid var(--light);
    border-left: 4px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px #00000016;
}
.reviewsList-item:hover{
    box-shadow: 0 2px 10px #00000026;
}
.reviewHead{
    margin-bottom: 10px;
}
.reviewHead .UserName{
    font-size: var(--fs-clamp-16);
    font-weight: bold;
    margin-bottom: 5px;
}
.reviewHead .date{
    font-size: var(--fs-clamp-12);
    color: var(--muted);
}
.reviewContent *{
    font-size: var(--fs-clamp-14);
    color: var(--dark);
}
.ddmmyyyy_left{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;


}
.ddmmyyyy_left .date{
    font-size:  var(--fs-clamp-50);
    height: 40px;
    font-weight: bold;
    line-height: 1;
    color: var(--primary);
}
.ddmmyyyy_left .month{
    font-size: var(--fs-clamp-20);
    height: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.ddmmyyyy_left .year{
    font-size: var(--fs-clamp-14);
    letter-spacing: 2px;
}

.title_decr .title{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title_decr .title{
    font-size: var(--fs-clamp-20);
    
}

.btns_row{
    display: flex;
    gap: 10px;
    align-items: center;
}
/*------------------------ event close -------------------------------*/

/*------------------------ career_testimonial start -------------------------------*/
.career_testimonial_wrapper{
    padding: 30px 30px;
    border-radius: 30px;
    background:var(--gray) ;
}
 
.blog_item{
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
 
.blog_item img{
    position: relative;
    z-index: -1;
    width: 100%;
    height:250px;
    object-fit: cover;
}
.blog_item .content{
    position: absolute;
    padding: 20px;
    color: white;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black50);
}
.blog_item .content .title{
    font-size: var(--fs-clamp-16);
}
.blog_item .content .date{
    font-size: var(--fs-clamp-14);
    opacity: 0.8;
}
.blogs_swiper .swiper-pagination{
    position: relative;

}
.testimonial_swipe .swiper-pagination{
    position: relative;

}

.testimonial_item .content{
    background: white;
    padding: 20px;
    font-size: var(--fs-clamp-14);
    border-radius:10px;
    min-height: 180px;
    
}
.testimonial_item .content p{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin: 0;
}
a.user_profile{
    color: var(--black);
}
a.user_profile:hover{
    color: var(--primary);
}
.user_profile{
    --user-pic-size:50px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.user_profile .user_pic{
    width: var(--user-pic-size);
    height: var(--user-pic-size);
    border-radius: var(--user-pic-size);
    border:1px solid #fff;
    flex-shrink: 0;
    overflow: hidden;
}
.user_profile .user_pic img{
    width: var(--user-pic-size);
    height: var(--user-pic-size);
    border-radius: var(--user-pic-size);
    object-fit: cover;
}
.user_profile .user_name{
    font-size: var(--fs-clamp-16);
    font-weight: 700;
}
.user_profile .user_designation{
    font-size: var(--fs-clamp-12);
    opacity: 0.8;
}
/*------------------------ career_testimonial close -------------------------------*/
/*------------------------ Footer start -------------------------------*/
.footer-sec{
    padding: 50px 0;
}
.footer-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
}
.social-links .icon{
    padding: 10px 10px;
    color:white;
}
.footer_item{
    text-align: center;
    margin-bottom: 20px;
}
.footer_item .ft-title{
    font-size: var(--fs-clamp-20);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
}
.footer_item .ft-links{
    font-size: var(--fs-clamp-16);
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.footer_item .ft-links .link{
    color: var(--muted);
}
.footer_item .ft-links .link:hover{
    color: var(--dark);
}

.footer-sec .vr {
    display: inline-flex;
    align-self: stretch;
    width: 1px;
    min-height: 1em;
    background-color: currentColor;
    opacity: .25;
    flex-shrink: 2;
    padding: 0;
}

.footer_bottom{
    background: var(--primary);
    color: var(--white);
    padding: 20px 0;
}
.footer-btm-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.footer_bottom .link{
    color: var(--white);
    font-size: var(--fs-clamp-18);
    padding: 10px 20px;
    text-align: center;
}
/*------------------------ Footer close -------------------------------*/

/*------------------------ innter page start -------------------------------*/
.spacer{
    height: 50px;
}

.header-inner{
    background: var(--black);
    background: url('../images/header_bg.jpeg');
    background-repeat: no-repeat;
    /* background: linear-gradient(270deg, rgba(0, 0, 0, 0.80) 7.29%, rgba(49, 49, 49, 0.48) 56.97%, rgba(0, 0, 0, 0.27) 69.60%, rgba(71, 71, 71, 0.02) 77.67%, rgba(171, 171, 171, 0.00) 86.46%, rgba(169, 169, 169, 0.00) 97.40%); */
    color: var(--white);
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
}
.bg-joblisting{
    background: url('../images/bg-joblisting.jpg');
    background-size: cover;
    background-position: center;
}
.header-inner>*{
    z-index: 2;
}
.header-inner::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.80) 20%, rgba(0, 0, 0, 0.50) 100%);
}
.header-inner-subscription{
    background:#0D2336;
}
.header-inner-subscription .header-content{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.header-inner-subscription .header-title{
    font-size: var(--fs-clamp-64);
    font-family: var(--ff-mohave);
    font-weight: bold;
    line-height: 1;
    color: white;
}
.header-inner-subscription .subtext{
    font-size: var(--fs-clamp-20);
    font-weight: 400;
    color: rgba(255, 255, 255, 0.563);
}
.header-inner-subscription .header-img{
    max-height: 340px;
    overflow: hidden;
}
.header-inner-subscription .header-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.dashboard_bg{
    background: url('../images/dashboard_bg_full.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.dashboard_bg:after
{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(270deg, rgba(0, 0, 0, 0.80) 7.29%, rgba(49, 49, 49, 0.48) 56.97%, rgba(0, 0, 0, 0.27) 69.60%, rgba(71, 71, 71, 0.02) 77.67%, rgba(171, 171, 171, 0.00) 86.46%, rgba(169, 169, 169, 0.00) 97.40%);
    ;
}
.dashboard_bg>*
{
    z-index: 2;
}
.white_box_shadow,.white-box-shadow{
    position: relative;
    padding: 30px;
    background:var(--bg-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.border-gray{
    border: 0.8px solid var(--bs-border-color);
}
.white_box_border,.white-box-border{
    position: relative;
    padding: 50px;
    background:var(--bg-white);
    border: 1px solid var(--bs-border-color);
}
.border-radius-10{
    border-radius:10px !important;
}
.border-radius-20{
    border-radius: 20px !important;
}
.border-radius-30{
    border-radius: 30px !important;
}
.offset_wrapper{
    position: relative;
    padding: 50px;
    border-radius: 30px;
    background:var(--bg-white);
    box-shadow: 0 4px 12px var(--black10);
}
.offset-50{
    margin-top: -50px;
}
.offset-70{
    margin-top: -70px;
}
.offset-80{
    margin-top: -80px;
}
.content_left .job_position{
    color: var(--dark-blue);
    font-size: var(--fs-clamp-24);
    font-weight: 500;
}
.list-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-row{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.list-disclosure-closed{
    list-style-type: disclosure-closed;
}
.list-disc{
    list-style-type: disc;
}
.list-horizontal {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}
.list-horizontal li {
    margin-right: 40px;
}
.list-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    flex-wrap: wrap;
}
.list-grid li.item{
    margin-bottom: 0px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 12), 1fr);
    gap: var(--grid-gap, 1.5rem);
}
.grid .g-col-1 {
    grid-column: auto/span 1;
}
.grid .g-col-2 {
    grid-column: auto/span 2;
}
.grid .g-col-3 {
    grid-column: auto/span 3;
}
.grid .g-col-4 {
    grid-column: auto/span 4;
}
.grid .g-col-5 {
    grid-column: auto/span 5;
}
.grid .g-col-6 {
    grid-column: auto/span 6;
}
.grid .g-col-7 {
    grid-column: auto/span 7;
}
.grid .g-col-8 {
    grid-column: auto/span 8;
}
.grid .g-col-9 {
    grid-column: auto/span 9;
}
.grid .g-col-10 {
    grid-column: auto/span 10;
}
.grid .g-col-11 {
    grid-column: auto/span 11;
}
.grid .g-col-12 {
    grid-column: auto/span 12;
}
.text_with_icon .text{
    line-break: anywhere;
}
.text_with_icon{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--fs-clamp-14);
    color: var(--dark);
   
}
.text_with_icon.muted{
    color: var(--muted);
}
.text_with_icon.small{
    font-size: var(--normal-text);
}

.auto-fill{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(
        auto-fill, minmax(200px, 1fr));
}
.auto-fit{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(
        auto-fit, minmax(200px, 1fr));
}

.sidebar_in{
    --padding-x:20px;
    background: var(--light-gray);
    padding:30px var(--padding-x);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.sidebar_in.in-bullet{
    --padding-x:15px;
}
.ribbon_title{
    --ribbon-offset: calc(16px + var(--padding-x));
    display: inline-flex;
    padding: 10px 20px;
    background: var(--orange);
    color: #fff;
    border-radius: 15px;
    position: relative;
    left: calc(var(--ribbon-offset) * -1);
}
.ribbon_title:before{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 3px;
    top: calc(100% - 6px);
    border-top: 0px solid transparent;
    border-right: 14px solid var(--orange-dark);
    border-bottom: 14px solid transparent;
    z-index: -1;
}
/*------------------------ innter page close -------------------------------*/
.viewprofile_div{
    text-align: center;
}

.viewprofile_div.candidate .viewprofile_pic{
    --viewProfile_size:130px;
}
.viewprofile_pic.no-img{
    background: var(--muted);
    color: var(--white);
    font-size: medium;
}
.viewprofile_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.viewprofile_pic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    --viewProfile_size:170px;
    width: var(--viewProfile_size);
    height:  var(--viewProfile_size);
    border-radius: var(--viewProfile_size);
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.viewOpening_List{
    list-style: none;
    padding: 0;
    margin: 0;
}
.viewOpening_List .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-clamp-16);
    border-top: 1px solid var(--gray-50);
    color: var(--dark);
    padding: 20px 30px;
    font-weight: bold;
}
.viewOpening_List .item:last-child{
    border-bottom: 1px solid var(--gray-50);
}
.form-label{
    font-weight: bold;
    font-size: var(--fs-clamp-18);
}
.form-label.fs-12 {
    font-size: var(--fs-clamp-12);
}
.form-label.fs-14 {
    font-size: var(--fs-clamp-14);
}
.form-label .required,*>.required{
    color: var(--red);
}
.form-control,.form-select{
    font-size: var(--fs-clamp-14);
    padding: 12px 20px;
}
.form-select-sm{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: .875rem;
}
.form-control-sm[type=file]:not(:disabled):not([readonly]) {
    font-size: var(--fs-clamp-14);
    padding: 0.25rem 0.5rem;
}
.form-control::placeholder{
    color: var(--muted);
}
.adspace{
    min-height: 150px;
    background: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.list.no-bullet{
    list-style: none;
    padding: 0;
    padding-inline-start: 0;
}
.list .item{
    margin-bottom: 15px;
}
ul.list {
    padding-inline-start: 16px;
}
ul.list-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}

.in_jobcode{
    --fill-color: var(--dark-blue);
    border: 1px solid var(--fill-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: var(--fs-clamp-12);
}
.in_jobcode .fill{
    background: var(--fill-color);
    color: var(--white);
}
.in_jobcode>div{
    text-align: center;
    padding: 5px;
}

.max-width-200{
    max-width: 200px;
}
.max-width-250{
    max-width: 250px;
}
.max-width-300{
    max-width: 300px;
}
.grid_item_count{
    display: grid;
    grid-template-columns: repeat( 1, 1fr );
}

.grid_item_count.border-lf .item-content-box{
    border-bottom: 1px solid;
    border-color: rgba(160, 160, 160, 0.24);
}
.grid_item_count.border-lf .item-content-box:last-child{
   border:none;
}

.item-content-box{
    color: var(--dark);
    text-align: center;
    padding: 10px;
}
.item-content-box .count{
    font-size: var(--fs-clamp-64);
    font-weight: bold;
    color: var(--dark-blue);
}
.item-content-box .count .downaload-icon{
    color: var(--dark-blue);
}
.grid_item_count.grid_count_5 .item-content-box .count{
    font-size: var(--fs-clamp-30);
}
.grid_item_count.grid_count_5 .item-content-box .count{
    font-size: var(--fs-clamp-30);
}
.grid_func_items{
    display: grid;
    gap:20px;
    /* grid-template-columns: repeat( 3, 1fr ); */
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.func-box{
    border-radius: 25px;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100%;
    margin-bottom: 20px;
    min-height: 80px;
    transform: scale(1);
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}
.func-box:hover{
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--green);
}
.func-box .icon-box {
    margin-right: 10px;
    border-radius: 10px;
    color: #243547;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--light);
    border-radius: 100px;
    flex-shrink: 0;
}
.func-box .icon-box .icon {
    font-size: 24px;
}
.func-box .content {
    position: relative;
    color: #243547;
}
    .func-box .title {
        font-size: var(--fs-clamp-20);
        text-transform: capitalize;
        color: var(--muted);
        transition: all 0.4s ease-in-out;
        font-weight: 600;
        margin: 0;
    }

.label-strip{
    background: var(--light);
    color: var(--dark);
    padding: 10px;
    width: 100%;
}
.grid_checkbox{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}
.grid_checkbox.column-list{
    grid-template-columns: 1fr;
}
.customDatepicker .gj-textbox-md{
    
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    font-size: var(--fs-clamp-14);
    padding: 12px 20px;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
}
.customDatepicker .gj-datepicker-md [role=right-icon],.customDatepicker .gj-timepicker-md [role=right-icon] {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 24px;
    margin: auto;
}

/*------------- modal css --------------------*/
.modal{
    --bs-modal-border-radius:20px;
    --bs-modal-padding:1.5rem;
}
.modal-tabs .modal-header{
    justify-content: center;
}
.modal-tabs .modal-content{
    border-radius: 0 var(--bs-modal-border-radius) var(--bs-modal-border-radius) var(--bs-modal-border-radius);
}
.modal-tabs .modal-content>.btn-close{
    position: absolute;
    right: 20px;
    top: -41px;
    --bs-btn-close-color: var(--dark);
    background: #fff;
    opacity: 1;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-radius: var(--bs-modal-border-radius);
}
.modal-tabs .nav-tabs{
    position: absolute;
    bottom: 100%;
    --bs-nav-tabs-border-radius:var(--bs-modal-border-radius);
}
.modal-tabs .nav-tabs .nav-link {
    border: var(--bs-nav-tabs-border-width) solid transparent;
    padding: 10px 30px;
    font-size: var(--fs-clamp-18);
    min-width: 120px;
    background: #ffffff54;
    backdrop-filter: blur(20px);
    color: var(--white);
}
.modal-tabs .nav-tabs .nav-item.show .nav-link,.modal .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
}
/*------------- modal css close --------------------*/

.userLogged_in{
    --pic-size:40px;
    width: var(--pic-size);
    height: var(--pic-size);
    border-radius:var(--pic-size);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.right-login .dropdown-menu{
    --bs-dropdown-border-radius:10px;
    box-shadow: 0 6px 12px #00000033;
    border: none;
    padding: 0;
    overflow: hidden;
    min-width: 200px;
    
}
.right-login .dropdown-menu .icon-link{
    --bs-dropdown-item-padding-x: 10px;
    --bs-dropdown-item-padding-y: 10px;
    gap: 15px;
    padding:var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 14px;
}
.tab-content.border-radius-10{
    border-top-left-radius: 0px;
}
.applicant_tabs{
    --bs-nav-tabs-border-radius:0px;
    --bs-nav-tabs-link-active-color:var(--dark) ;
    --bs-nav-tabs-link-active-bg: rgba(190, 188, 188, 0.49);
    border:none;
}
.applicant_tabs .nav-link.active{
    border-top: 2px solid var(--primary) !important;
}
.applicant_tabs .nav-link{
    min-width: 150px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    color: var(--dark);
    background-color: rgba(190, 188, 188, 0.25);
    flex-shrink: 0;
    border-top: 1px solid transparent;
    border: none;
    font-size: var(--fs-clamp-14);
}


.toast-100{
    --bs-toast-max-width:100%;
}
.accordionCustom{
    --bs-accordion-active-bg:var(--light-gray);
    --bs-accordion-btn-bg:var(--light-gray);
    --bs-accordion-btn-focus-box-shadow:var(--light-gray);
}

.accordionCustom .accordion-item {
    border: 1px solid var(--bs-accordion-border-color);
    border-radius: 10px;
    overflow: hidden;
}
.table-candidate thead th{
   
   min-width:50px;
   white-space: nowrap;
}
.table-applicantlist thead tr th{
    width: 250px;
    min-width: 100px;
    white-space: nowrap;
    font-size: var(--fs-clamp-16);
    color: var(--dark);

}
.table-applicantlist tr th a {
    color: var(--dark);
}
.table-applicantlist tbody tr td{
    font-size: var(--fs-clamp-14);
}
.table-applicantlist thead tr {
    background: #fff;
    border-bottom: 5px solid var(--primary);
    font-weight: bold;
    color: #334960;
}
.table-applicantlist thead tr th:first-child,.table-applicantlist thead tr th:nth-of-type(2){
    width: 50px;
    min-width: 50px;
}
.td-250{
   width: 250px;
}
.td-150{
    width: 150px;
}
.td-80{
    width: 80px;
}
.td-50{
    width: 50px;
}

.table-action-tools{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dataTables_info{
    font-size: var(--fs-clamp-12);
}

.cstmCheck{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.cstmCheck input{
    margin-top:6px;
}
.tableCstmCheck td input{
    margin-right:10px;
}
.tableCstmCheck tr {
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.radioTable td {
    display: inline-flex;
    gap: 10px;
    margin-right: 20px;
}
.captchaWrapper {
    display: flex !important;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.table-candidate .form-control, .table-candidate .form-select {
    font-size: var(--fs-clamp-14);
    padding: 6px 12px;
}

.divPhoto{
    background-size:cover;
}
.table-moreInfo th{
    white-space: nowrap;
}
.border-top-blue{
    border-top:3px solid var(--primary);
    
}
.application_status_box{
    border-top: 2px solid var(--primary);
    position: relative;
    padding: 30px;
    background: var(--light);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.application_status_list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 5px;
}
.item *{
    font-size: var(--fs-clamp-14);
}

.status-badge{
    padding: 5px 15px;
    display: inline-flex;
    font-size: var(--fs-clamp-12);
    background: var(--light-gray);
    border-radius: 100px;
    gap: 5px;
}
.pending{
    background: var(--pending-light);
    color: var(--pending);
}
.offered{
    background: var(--offered-light);
    color: var(--offered);
}
.rejected{
    background: var(--rejected-light);
    color: var(--rejected);
}
.shortlisted{
    background: var(--shortlisted-light);
    color: var(--shortlisted);
}
.under-review{
    background: var(--under-review-light);
    color: var(--under-review);
}

.scrollTop{
    --shape-size:50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-white);
    font-size: 30px;
    width: var(--shape-size);
    height: var(--shape-size);
    border-radius: 100px;
    box-shadow: 0 3px 10px #00000020;
    z-index: 99999;
}

.efficient_grid{
    display: grid;
    grid-template-rows: auto 1fr;
    gap:30px;
    height: 100%;
}
.efficient_imgWrapper{
    display: grid;
    align-content: center;
    justify-content: center;
}
.title-more-efficient{
    font-size: var(--fs-clamp-64);
    font-family: var(--ff-mohave);
    font-weight: bold;
    line-height: 1;
}
.font-mohave{
    font-family: var(--ff-mohave);
}
.font-primary{
    font-family: var(--ff-roboto);
}

.efficient_imgbox{
    width: 282px;
    height: 341px;
    overflow: hidden;
    box-shadow: 15px 15px 0 #000;
}
.efficient_imgbox img{
    width: 100%;
    height: 100%;object-fit: cover;
}

.title-subsc{
    font-size: var(--fs-clamp-64);
    font-weight: bold;
    color: var(--dark-blue);
    text-transform: uppercase;
}
.table-subscriptions{
    --bs-table-border-color:var(--primary-50);
}
.table-subscriptions thead th{
    text-align: center;
}
.table-subscriptions .content{
    text-align: center;
}

.table-subscriptions .content .subtext{
    font-size: 10px;
}
.table-subscriptions .icon{
    width: 30px;
    margin: auto;
}
.table-subscriptions .icon.check{
    font-size: 20px;
    color: var(--green);
}
.table-subscriptions .icon.none{
    font-size: 20px;
    color: var(--red);
}
.table-subscriptions .del-price{
    font-size: 12px;
}
.del-price{
    text-decoration: line-through;
}
.table-subscriptions tfoot td{
    background: var(--primary-20);
}

.grid_thumbs{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(4.75rem,1fr));
    /* grid-template-rows:repeat(auto-fill,minmax(4.75rem,1fr)) ; */
    gap: 15px;
}
.grid_thumbs .thumb{
    background: var(--light-gray);
    width: 100%;
    height: 100%;
    min-width:4.75rem;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.grid_thumbs .thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.social-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.social-icons .icon{
    width: 40px;
}


a.blog-item{
    color: var(--dark);
    text-decoration: none;
}

.blog-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
.blog-item .img-div{
    height: 240px;
    overflow: hidden;
}
.blog-item .img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.35s ease-in-out;
}
a.blog-item:hover .img-div img{
    transform: scale(1.04);
}

.blog-item .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog-item .author{
    color: var(--purple);
    font-size: var(--fs-clamp-14);
    font-weight: bold;
    display: flex;
    gap: 20px;
}
.blog-item .author span{
    position: relative;
    display: inline-block;
}
.blog-item .author span:first-child::before{
    display: none;
}
.blog-item .author span::before{
    position: relative;
    content: '';
    width: 5px;
    display: inline-block;
    height: 5px;
    left: -10px;
    vertical-align: middle;
    border-radius: 10px;
    background: var(--purple);
}

.blog-item .title{
    font-size: var(--fs-clamp-24);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    transition: all 0.35s ease-in-out;
}
a.blog-item:hover .title{
    color: var(--primary);
}
.blog-item .title .arrow{
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-item .title .arrow i{
    font-size: 30px;
    transform: rotate(316deg);
    transition: all 0.35s ease-in-out;
}
.blog-item .title .arrow i{
    font-size: 30px;
    transform: rotate(316deg);
    transition: all 0.35s ease-in-out;
}
a.blog-item:hover .title .arrow i{
    transform: rotate(220deg);
}
.blog-item .description{
    font-size: var(--fs-clamp-16);
    color: var(--muted);
}

.editProfilePic{
    background: #00000080;
    color: white;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 20px;
    bottom: 0;
    z-index: 2;
    display: block;
    cursor: pointer;
}
.editProfilePic input{
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    /* visibility: hidden; */
    cursor: pointer;
}

.viewprofile_wrapper{
    position: relative;
    width: fit-content;
    margin: auto;
}
.viewprofile_wrapper .icon-delete{
    background: var(--red);
    color: #fff;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 12px;
    top: 5px;
    right: -1px;
    z-index: 2;
}

.verify-div{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.pagition-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    color: var(--dark);
}
.pagination-custom{
    margin-bottom: 0;
    gap: 10px;
}
.pagination-custom .page-item .page-link{
    border: none;
    border-radius: 8px !important;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
}
.pagination-custom .page-item.active .page-link{
    color:var(--purple);
    background: #7f56d911;
}
.pagition-wrapper .page-nav{
    color: var(--dark);
}
.pagition-wrapper .page-nav:hover{
    color: var(--purple);
}


.blogUserDiv{
    display: flex;
    align-items: center;
    gap: 15px;
}
.blogUserDiv .user-pic{
    --userpic-size:50px;
    width: var(--userpic-size);
    height: var(--userpic-size);
    border-radius: var(--userpic-size);
    overflow: hidden;
}
.blogUserDiv .user-pic img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}
.blogUserDiv .name{
    font-size: var(--fs-clamp-24);
    font-weight: bold;
    color: var(--purple);
}
.blogUserDiv .post-date{
    font-size: var(--fs-clamp-14);
}

.blog-detail-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.blog-detail-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.joblist-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}
.aside-filter-wrapper{
    /*position: sticky;
    top: 100px;*/
}

.tableCstmCheck-column tr td {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}
.tableCstmCheck-column.input-offset tr td input {
    margin-top: -px;
}
    /*.tableCstmCheck-column input{
    margin-right:10px;
}*/
    .filter-header-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        position: sticky;
        top: 75px;
        width: 100%;
        z-index: 2;
        margin-bottom: 20px;
        background: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
.aside-filter-wrapper.mobile {
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 2;
    width: 100%;
    height: auto;
    top: auto;
    left: 0;
    right: 0;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px -4px 28px 0px rgba(0, 0, 0, 0.25);
}

.filter-title
{
    display: flex;
    align-items: center;
}
.filter-close{
    color: var(--dark);
    font-size: 30px;
    align-items: center;
}
.job-list-item-row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.job-list-item{
    border-top: 2px solid var(--primary);
    position: relative;
    padding: 30px;
    background: var(--light);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    transition: all 0.35s ease-in-out;
}
.job-list-item:hover{
    background: var(--white);
    box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.25);
}
.Job-title{
    font-size: var(--fs-clamp-20);
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
}

.horizontal_list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 5px;
}
.scroller-checkitems{
    max-height: 220px;
    overflow-y: auto;
    padding: 5px;
}
.accordionFilters .grid_checkbox{
    gap: 5px;
}
.accordionFilters .accordion-header .accordion-button{
    background: white;
    border-bottom: 1px solid var(--light-gray);
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--fs-clamp-16);
}
.accordionFilters .accordion-item{
    border-radius: 0;
    border: none;
    font-size: var(--fs-clamp-14);
}
.accordionFilters .accordion-body{
    padding: 10px 0px;
}
.accordionFilters .accordion-header .accordion-button:focus{
    box-shadow: none;
}

.input-addon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    --offset-padding:50px
}

.input-addon input{
    padding-left:var(--offset-padding);
}
.input-addon.right input{
    padding-right:var(--offset-padding);
    padding-left:15px;
}
.input-addon .icon{
    position: absolute;
    left: calc(var(--offset-padding) / 3);
}
.input-addon.right .icon{
    right: calc(var(--offset-padding) / 3);
    left: auto;
}
.btns-group{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(140px, 1fr) );
}
.table-advisory td{
    padding: 20px;
}
.img-td{
    width: 150px;
    background-color: #0B4999;
}
.img-advisory{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
    
}
.link-dark{
    transition: all 0.35s ease-in-out;
}
.link-dark:hover,.link-dark-blue:hover{
    color: var(--primary) !important;
}
.link-dark-blue{
    color: var(--dark-blue);
}
.sticky-top{
    position: sticky;
    top: 115px;
}
.scroller-checkitems::-webkit-scrollbar {
    width: 3px;
}
.whatsapp-color{
    color: var(--green);
}
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--primary);
}
.viewProfile-modal .modal-body{
    overflow: hidden;
}
.iframeViewProfile{
    width: 100%;
    height: 100%;
}
/*------------------ coaching css -------------*/
.link-broder-box {
    padding: 20px;
    border: 3px solid var(--primary);
    color: var(--dark);
    max-width: 80%;
    text-align: center;
    margin: auto;
   
}
.Info-list-wrapper{
    padding: 0;
    list-style: none;
}

.infoItem{
    display: grid;
    align-items: stretch;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px #00000030;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid transparent;
    transition: all 0.25s linear;
}
.infoItem:hover{
    box-shadow: 0 2px 12px #00000030;
}
.infoItem img,.infoItem a{
    transition: all 0.20s ease-in-out;
}
.infoItem:hover .infoImg-holder img{
    transform: scale(1.15);
}
.infoItem .infoLeft{
    background: var(--light);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.infoItem .infoImg-holder{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 #ccc;
    border: 2px solid #fff;
    overflow: hidden;
}
.infoItem .infoImg-holder img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   transform: scale(1);
}
.infoItem .infoTitle{
    font-size: var(--fs-clamp-16);
    color: var(--dark);
}
.infoItem:hover .infoTitle{
    color: var(--primary);
}
.infoItem .infoRight{
    background: var(--white);
    padding: 20px;
    display: flex;
    align-items: center;
}
.infoItem .infoRight .blockquote{
    font-size: var(--fs-clamp-14);
}

.infoItem .infoRight .content{
    width: 100%;
}

/*-------- event item css---*/
.event-list-wrapper{
    padding: 0;
    list-style: none;
}

a.eventItem{
    text-decoration: none;
    color: var(--dark);
}
.eventItem{
    display: grid;
    gap: 20px;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0;
    overflow: hidden;
    border-bottom: 1px solid var(--gray) !important;
    transition: all 0.25s linear;
}
.eventItem:hover{
    box-shadow: 0 2px 12px #00000030;
}
.eventItem img,.eventItem a{
    transition: all 0.20s ease-in-out;
}

.eventItem .divImgsection{
    /* background: var(--light); */
    /* padding: 20px; */
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    
}

.eventItem .img-holder{
    width: 140px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 #ccc;
    border: 2px solid #fff;
    overflow: hidden;
}
.eventItem .img-holder img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   transform: scale(1);
}
.eventItem:hover .img-holder img{
    transform: scale(1.15);
}
.eventItem .title{
    font-size: var(--fs-clamp-16);
    color: var(--dark);
}
.eventItem:hover .title{
    color: var(--primary);
}
.eventItem .divInnerContent{
    background: var(--white);
    /* padding: 20px; */
    display: flex;
    align-items: center;
}
.eventItem .divInnerContent .blockquote{
    font-size: var(--fs-clamp-14);
}

.eventItem .divInnerContent .content{
    width: 100%;
}
/*-------- event item css end---*/
.features{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 15px;
}
.featureItem{
    text-align: center;
   padding: 20px;
}
.featureItem .title{
    font-size: var(--fs-clamp-18);
}
.icon-circle-brdr{
    display: inline-block;
    --featureIconCircle:90px;
    width: var(--featureIconCircle);
    height: var(--featureIconCircle);
    border-radius:var(--featureIconCircle);
    border: 5px solid var(--light);
    padding: 2px;
    margin-bottom: 10px;
}
.icon-circle-inn{
    width: 100%;
    height:100%;
    border-radius:var(--featureIconCircle);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light);
}
.logosWrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    text-align: center;
}
.logoItem{
    border-radius: 20px;
    box-shadow: 0 2px 10px #00000020;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.logoItem .logoImgArea img{
    max-width: 70px;
}
.logoItem .logoTitle{
    font-size: var(--fs-clamp-14);
    font-weight: bold;
}
.imgSidebar-Grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}
.imgSidebar-Grid .imgSidebarItem{
    height: 100%;
}
a.imgSidebarItem{
    display: block;
}
.imgSidebarItem{
    text-decoration: none;
    position: relative;
    padding: 15px;
    background: var(--bg-white);
    border: 1px solid var(--bs-border-color);
    /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25); */
    border-radius: 15px;
    color: var(--dark);
    margin-bottom: 15px;
    transition: all 0.35s ease-in-out;
}
.imgSidebarItem .img{
    height: 150px;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 10px;
}
.imgSidebarItem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imgSidebarItem .content{
    font-size: var(--fs-clamp-18);
}
a.imgSidebarItem:hover{
    background: var(--primary);
    color: var(--white);
}

.testimonialListWrapper,.testimonialListWrapper ul{
    list-style: none;
    padding: 0;
}
.testimonialListWrapper li{

}
.testimonialItem{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
    padding: 20px;
    border-radius:20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.testimonialItem .userPic{
    flex-shrink: 0;
    --pic-size:90px;
    width: var(--pic-size);
    height: var(--pic-size);
    border-radius: var(--pic-size);
    overflow: hidden;
}
.testimonialItem .userPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonialItem  .content{
    color: var(--dark);
    font-size: var(--fs-clamp-16);
}
.userNameNdesignation
{
    display:flex ;
    align-items: center;
    gap: 7px;
    flex-wrap: wrap;
}
.userNameNdesignation .designation{
    padding: 5px 10px;
    border-radius: 20px;
    background: var(--gray);
    font-size: var(--fs-clamp-12);
}
.userNameNdesignation .name:after{
    position: relative;
    content: '|';
    font-size: 14px;
    margin-left: 7px;
}

/*----------- news css --------------*/


a.news-item{
    color: var(--dark);
    text-decoration: none;
}

.news-item{
    display: grid;
    grid-template-columns:  1fr;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}
.news-item .img-div {
    height: 340px;
    width: 100%;
    overflow: hidden;
}
.news-item .img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.35s ease-in-out;
}
a.news-item:hover .img-div img{
    transform: scale(1.04);
}

.news-item .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.news-item .title{
    font-size: var(--fs-clamp-36);
    font-weight: 500;
}
a.news-item:hover .title{
    color: var(--primary);
}

.news-item .description{
    font-size: var(--fs-clamp-20);
    color: var(--muted);
}


.careerVideo{
    position: relative;
    overflow: hidden;
}
.careerVideo::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    transition: all 0.35s ease-in;
}
.careerVideo img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.careerVideo .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.playIcon{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    width: fit-content;
    height: fit-content;
    font-size: 80px;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #000000a8;
    line-height: 1;
    transform: scale(1);
    transition: all 0.35s ease-in-out;
}
.playIcon i{
    width: 70px;
    height: 79px;
}
.playIcon:hover{
    transform: scale(1.2);
}
.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.short-line{
    width: 100px;
    height: 2px;
    background: var(--gray-50);
}
.career-grid-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.career-grid-gallery .imgDiv{
    min-width: 200px;
    position: relative;
    overflow: hidden;
}
.career-grid-gallery .imgDiv::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    transition: all 0.35s ease-in;
}
.career-grid-gallery .imgDiv:hover::after{
    content: '';
    opacity: 0;
}
.employeeItem{
    padding: 20px;
}
.employeeItem .content *{
    font-size: var(--fs-clamp-14);
}
.employeeItem .content .name{
    color: var(--muted);
}
.employeeVideo{
    position: relative;
    overflow: hidden;
    max-width: 200px;
    height: 130px;
    margin: auto;
    margin-bottom: 20px;
    display: block;
}
.employeeVideo .playIcon{
    width: 40px;
    height: 40px;
    font-size: 20px;
    z-index: 3;
}
.employeeVideo .playIcon i {
    width: 20px;
    height: 20px;
}

 .employeeVideo::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    transition: all 0.35s ease-in;
}
.employeeVideo img,.employeeVideo .playIcon {
    transform: scale(1);
    transition: all 0.35s ease-in-out;
}
.employeeVideo:hover img,.employeeVideo:hover .playIcon{
    transform: scale(1.1);
}

.myModal.show{
    display: block;
}
.myModal.show .myModal-dialog {
    transform: none;
}
.myModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: var(--bs-body-bg);
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: var(--bs-border-radius-lg);
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: var(--bs-border-width);
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
}
.myModal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
}
.myModal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
}
.myModal-dialog {
    position: relative;
    width: auto;
    margin: var(--bs-modal-margin);
    pointer-events: none;
}
.myModal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.myModal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
}
.myModal-fullscreen .myModal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}
.myModal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.blogs_swiper a.blog_item{
    display: block;
    height: 100%;
    position: relative;
    overflow: clip;
}
.blogs_swiper a.blog_item img{
    transform: scale(1);
    transition: all 0.35s ease-in-out;
}
.blogs_swiper a.blog_item:hover img{
    transform: scale(1.1);
}
.employeesTestimonial_swiper .testimonial_item {
    padding: 10px;
}
.employeesTestimonial_swiper .testimonial_item .content{
    box-shadow: 0 2px 12px #00000020;
}
.descrLogo-div{
    width: 170px;
    margin-bottom: 20px;
}
.descrLogo-div img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}