@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {

    --primary: #0D99FF;
    --blue: #0045FF;
    --dark-blue:#0B4999;
    --white: #fff;
    --bg-white:#fff;
    --light: #f7f7f7;
    --dark: #444444;
    --gray:#ECEBF1;
    --gray-50:#BEBCBC;
    --light-gray:#EEEEEE;
    --muted: #7D7D7D;
    --black: #000;
    --black50: rgba(0, 0, 0, 0.5);
    --black10: rgba(0, 0, 0, 0.1);
    --green:#62AC72;
    --red:#D04444;
    --orange:#F1B859;
    --orange-dark:#bb6802;

    --logo_height:50px;

    --ff-primary: 'Inter', sans-serif;
    --ff-inter: 'Inter', sans-serif;
    --bs-icon:bootstrap-icons!important;

    --normal-text:14px;
    --fs-clamp-12:12px;
    --fs-clamp-14:14px;
    --fs-clamp-16:clamp(0.75rem, 0.7143rem + 0.1786vw, 1rem);
    --fs-clamp-18:clamp(0.875rem, 0.8393rem + 0.1786vw, 1.125rem);
    --fs-clamp-20:clamp(1rem, 0.9643rem + 0.1786vw, 1.25rem);
    --fs-clamp-24:clamp(1.25rem, 1.2143rem + 0.1786vw, 1.5rem);
    --fs-clamp-30:clamp(1.5rem, 1.4464rem + 0.2679vw, 1.875rem);
    --fs-clamp-32:clamp(1.5rem, 1.4286rem + 0.3571vw, 2rem);
    --fs-clamp-40:clamp(2.125rem, 2.0714rem + 0.2679vw, 2.5rem);
    --fs-clamp-50:clamp(2.5rem, 2.4107rem + 0.4464vw, 3.125rem);
    --fs-clamp-60: clamp(1.875rem, 1.6071rem + 1.3393vw, 3.75rem);
    --fs-clamp-64: clamp(2.125rem, 1.8571rem + 1.3393vw, 4rem);


}
body {
    font-family: var(--ff-primary);
    color: var(--dark);
}
.text-yellow,.text-orange{
    color: var(--orange);
}
.text-primary,.text-blue{
    color: var(--primary);
}
.text-dark{
    color: var(--dark);
}
.text-green{
    color: var(--green);
}
a,a:hover{
    text-decoration: none;
}

.fs-12{
    font-size: var(--fs-clamp-12);
}
.fs-14{
    font-size: var(--fs-clamp-14);
}
.fs-16{
    font-size: var(--fs-clamp-16);
}
.fs-18{
    font-size: var(--fs-clamp-18);
}
.fs-20{
    font-size: var(--fs-clamp-20);
}
.fs-32{
    font-size: var(--fs-clamp-32);
}
.bg-primary {
    background: var(--primary);
}

.bg-sec {
    background: var(--blue);
}

.bg-white {
    background: var(--white);
}

.bg-light {
    background: var(--light);
}

.bg-dark {
    background: var(--dark);
}

.bg-muted {
    background: var(--muted);
}


.text-primary {
    color: var(--primary) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-red {
    color: var(--red) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-green {
    color: var(--green) !important;
}

.text-orange {
    color: var(--orange) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-white {
    color: var(--white) !important;
}

.text-light {
    color: var(--light) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-muted {
    color: var(--muted) !important;
}


.title-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.title-main{
    font-size: var(--fs-clamp-32);
}
.title-20{
    font-size:var(--fs-clamp-20);
}

.title-30{
    font-size: var(--fs-clamp-30);
}
.title-32{
    font-size: var(--fs-clamp-32);
}
.title-40{
    font-size: var(--fs-clamp-40);
}

.title-50{
    font-size:var(--fs-clamp-50);
}
.title-60{
    font-size:var(--fs-clamp-50);
}
.title-64{
    font-size:var(--fs-clamp-64);
}


.uppr {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.normal-text {
    font-size: var(--fs-clamp-14);
}
.btn{
    padding: 10px 20px;
    --bs-border-radius: 8px;
}
.btn-round{
    border-radius: 100px;
}

.btn-sm{
    font-size: 10px;
}
.btn-md{
    font-size:  var(--fs-clamp-12);
}

.fab-md{
    width: 40px;
    height: 40px;
}
.fab-sm{
    width: 30px;
    height: 30px;
}

.btn-fab{
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-success,.btn-green{
    background-color: var(--green);
    border-color: var(--green);
}
.btn-full,.btn-fluid{
    width: 100%;
}


/*-------------------------  Nav-menu start -------------------------------*/
.sticky .nav-main {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow:  0 2px 20px #00000016;
}

.navbar-brand img{
    height: var(--logo_height);
}
.navbar-toggler i{
    font-size: 30px;   
}
.userloginregister i{
    font-size: 30px;   
}
/*-------------------------  Nav-menu close-------------------------------*/
/*-------------------------  preloader start-------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f2f8ff;
    z-index: 999;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 999999;
}
/*-------------------------  preloader close-------------------------------*/
/*-------------------------  heroslider start-------------------------------*/
/* .heroSlider_wrapper{
} */
.hero-slider{
    position: relative;
    
}
.hero-slider  .swiper-slide{
    
    border:0px !important;
}

.hero-slider .swiper-slide img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border:0px !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    outline: 0 !important;
    box-shadow: none !important;
    z-index: 0;
    border:0px !important;
}


/*-------------------------  heroslider close-------------------------------*/

/*------------------------ job list tab start -------------------------------*/
.nav-home-tab{
    place-content: center;
}
.nav-home-tab .nav-link{
    position: relative;
    padding: 10px 30px;
    border-radius: 0;
    background-color: var(--primary);
    color: white;
    border: none;
    font-size:  var(--fs-clamp-18);
    min-width: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: all 0.35s linear;

}
.nav-home-tab .nav-link.active{
    background-color: var(--black);
    color: white;
}
.nav-home-tab .tab-item.active .nav-link{
    background-color: var(--black);
    color: white;
}
/* .nav-home-tab-content{
    padding: 30px;
} */
.hr-primary{
    width: 100%;
    height: 1px;
    background: var(--primary)
}

.job-list-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    gap: 20px;
}
.job-item{
    display: flex;
    flex-flow: column;
}
.job-item .job-title{
    font-size: var(--fs-clamp-18);
    color: var(--dark);
    font-weight: 700;
    padding: 10px;
    padding-left: 0;
    position: relative;
    display: flex;
    align-items: flex-start;
}
.job-item .job-title:hover{
    color: var(--primary);
}
.job-item .job-title::before{
    position: relative;
    content: '\F51C';
    font-family: var(--bs-icon);
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    margin-right: 5px;
    font-size: var(--fs-clamp-30);
    line-height: 1;
    top: -1px;
}
.job-item .job-content{
    border-top: 1px solid var(--muted);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: var(--fs-clamp-14);
}
.job-item .coupon-code{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid var(--muted);
    border-top: 0px;
    gap: 20px;
}
.job-item .post-date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.job-item .link,.postOn{
    font-weight: 700;
}

/*------------------------ job list tab close -------------------------------*/


.text-primary{
    color: var(--blue);
}

/*------------------------ partners start -------------------------------*/
.partners-logos{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}
.partners-logos .logo-item{
   width: 200px;
   height: 140px;
   display: flex;
   place-content: center;
}

/*------------------------ partners close -------------------------------*/

/*------------------------ guide-to-legafin start -------------------------------*/
.guide-to-legafin{
    background: var(--primary);
    color: white;
    padding: 30px;
}
.guide-to-legafin .content{
    font-size: var(--fs-clamp-20)
}
.guide-video{
    
    height: 150px;
    border: 1px solid white;
}

/*------------------------ guide-to-legafin close -------------------------------*/



/*------------------------ event start -------------------------------*/
.legal-finance
{
    padding: 30px 0;
}
.event_item{
    display: flex;
    align-items: center;
    gap: 20px;
   box-shadow: 0 6px 20px #00000023;
   padding: 10px;
}
.event_img{
    width: 170px;
    flex-shrink: 0;
}
.event_content{
    padding: 10px;
}
.event_content .content_row{
    display: flex;
    gap: 20px;
    align-items: stretch;
}
.ddmmyyyy_left{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;


}
.ddmmyyyy_left .date{
    font-size:  var(--fs-clamp-50);
    height: 40px;
    font-weight: bold;
    line-height: 1;
    color: var(--primary);
}
.ddmmyyyy_left .month{
    font-size: var(--fs-clamp-20);
    height: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.ddmmyyyy_left .year{
    font-size: var(--fs-clamp-14);
    letter-spacing: 2px;
}

.title_decr .title{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title_decr .title{
    font-size: var(--fs-clamp-20);
    
}

.btns_row{
    display: flex;
    gap: 10px;
    align-items: center;
}
/*------------------------ event close -------------------------------*/

/*------------------------ career_testimonial start -------------------------------*/
.career_testimonial_wrapper{
    padding: 30px 30px;
    border-radius: 30px;
    background:var(--gray) ;
}
 
.blog_item{
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
 
.blog_item img{
    position: relative;
    z-index: -1;
    width: 100%;
    height:250px;
    object-fit: cover;
}
.blog_item .content{
    position: absolute;
    padding: 20px;
    color: white;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black50);
}
.blog_item .content .title{
    font-size: var(--fs-clamp-16);
}
.blog_item .content .date{
    font-size: var(--fs-clamp-14);
    opacity: 0.8;
}
.blogs_swiper .swiper-pagination{
    position: relative;

}
.testimonial_swipe .swiper-pagination{
    position: relative;

}

.testimonial_item .content{
    background: white;
    padding: 20px;
    font-size: var(--fs-clamp-14);
    border-radius:10px;
    min-height: 180px;
    
}
.testimonial_item .content p{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin: 0;
}
.user_profile{
    --user-pic-size:50px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.user_profile .user_pic{
    width: var(--user-pic-size);
    height: var(--user-pic-size);
    border-radius: var(--user-pic-size);
    border:1px solid #fff;
    flex-shrink: 0;
    overflow: hidden;
}
.user_profile .user_pic img{
    width: var(--user-pic-size);
    height: var(--user-pic-size);
    border-radius: var(--user-pic-size);
    object-fit: cover;
}
.user_profile .user_name{
    font-size: var(--fs-clamp-16);
    font-weight: 700;
}
.user_profile .user_designation{
    font-size: var(--fs-clamp-12);
    opacity: 0.8;
}
/*------------------------ career_testimonial close -------------------------------*/
/*------------------------ Footer start -------------------------------*/
.footer-sec{
    padding: 50px 0;
}
.footer_item{
    text-align: center;
    margin-bottom: 20px;
}
.footer_item .ft-title{
    font-size: var(--fs-clamp-20);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
}
.footer_item .ft-links{
    font-size: var(--fs-clamp-16);
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.footer_item .ft-links .link{
    color: var(--muted);
}
.footer_item .ft-links .link:hover{
    color: var(--dark);
}

.footer-sec .vr {
    display: inline-flex;
    align-self: stretch;
    width: 1px;
    min-height: 1em;
    background-color: currentColor;
    opacity: .25;
    flex-shrink: 2;
    padding: 0;
}

.footer_bottom{
    background: var(--primary);
    color: var(--white);
    padding: 20px 0;
}
.footer-btm-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.footer_bottom .link{
    color: var(--white);
    font-size: var(--fs-clamp-18);
    padding: 10px 20px;
    text-align: center;
}
/*------------------------ Footer close -------------------------------*/

/*------------------------ innter page start -------------------------------*/
.spacer{
    height: 50px;
}

.header-inner{
    background: var(--black);
    /* background: linear-gradient(270deg, rgba(0, 0, 0, 0.80) 7.29%, rgba(49, 49, 49, 0.48) 56.97%, rgba(0, 0, 0, 0.27) 69.60%, rgba(71, 71, 71, 0.02) 77.67%, rgba(171, 171, 171, 0.00) 86.46%, rgba(169, 169, 169, 0.00) 97.40%); */
    color: var(--white);
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard_bg{
    background: url('../images/dashboard_bg.png') no-repeat;
    background-size: cover;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.dashboard_bg:after
{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(270deg, rgba(0, 0, 0, 0.80) 7.29%, rgba(49, 49, 49, 0.48) 56.97%, rgba(0, 0, 0, 0.27) 69.60%, rgba(71, 71, 71, 0.02) 77.67%, rgba(171, 171, 171, 0.00) 86.46%, rgba(169, 169, 169, 0.00) 97.40%);
    ;
}
.dashboard_bg>*
{
    z-index: 2;
}
.white_box_shadow,.white-box-shadow{
    position: relative;
    padding: 50px;
    background:var(--bg-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.border-gray{
    border: 0.8px solid var(--gray-50);
}
.white_box_border,.white-box-border{
    position: relative;
    padding: 50px;
    background:var(--bg-white);
    border: 1px solid var(--gray-50);
}
.border-radius-10{
    border-radius:10px;
}
.border-radius-20{
    border-radius: 20px;
}
.border-radius-30{
    border-radius: 30px;
}
.offset_wrapper{
    position: relative;
    padding: 50px;
    border-radius: 30px;
    background:var(--bg-white);
    box-shadow: 0 4px 12px var(--black10);
}
.offset-50{
    margin-top: -50px;
}
.offset-70{
    margin-top: -70px;
}
.offset-80{
    margin-top: -80px;
}
.content_left .job_position{
    color: var(--dark-blue);
    font-size: var(--fs-clamp-24);
    font-weight: 500;
}
.list-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text_with_icon{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--normal-text);
    color: var(--muted);
}

.auto-fill{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(
        auto-fill, minmax(200px, 1fr));
}
.auto-fit{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(
        auto-fit, minmax(200px, 1fr));
}

.sidebar_in{
    --padding-x:20px;
    background: var(--light-gray);
    padding:30px var(--padding-x);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.sidebar_in.in-bullet{
    --padding-x:15px;
}
.ribbon_title{
    --ribbon-offset: calc(16px + var(--padding-x));
    display: inline-flex;
    padding: 10px 20px;
    background: var(--orange);
    color: #fff;
    border-radius: 15px;
    position: relative;
    left: calc(var(--ribbon-offset) * -1);
}
.ribbon_title:before{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 3px;
    top: calc(100% - 6px);
    border-top: 0px solid transparent;
    border-right: 14px solid var(--orange-dark);
    border-bottom: 14px solid transparent;
    z-index: -1;
}
/*------------------------ innter page close -------------------------------*/
.viewprofile_div{
    text-align: center;
}
.viewprofile_pic{
    display: inline-block;
    --viewProfile_size:170px;
    width: var(--viewProfile_size);
    height:  var(--viewProfile_size);
    border-radius: var(--viewProfile_size);
    overflow: hidden;
}
.viewOpening_List{
    list-style: none;
    padding: 0;
    margin: 0;
}
.viewOpening_List .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-clamp-16);
    border-top: 1px solid var(--gray-50);
    color: var(--dark);
    padding: 20px 30px;
    font-weight: bold;
}
.viewOpening_List .item:last-child{
    border-bottom: 1px solid var(--gray-50);
}
.form-label{
    font-weight: bold;
    font-size: var(--fs-clamp-18);
}
.form-label .required{
    color: var(--red);
}
.form-control,.form-select{
    font-size: var(--fs-clamp-14);
    padding: 12px 20px;
}
.form-control::placeholder{
    color: var(--muted);
}
.adspace{
    min-height: 150px;
    background: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.list.no-bullet{
    list-style: none;
    padding: 0;
    padding-inline-start: 0;
}
.list .item{
    margin-bottom: 15px;
}
ul.list {
    padding-inline-start: 16px;
}
ul.list-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}

.in_jobcode{
    --fill-color: var(--dark-blue);
    border: 1px solid var(--fill-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: var(--fs-clamp-12);
}
.in_jobcode .fill{
    background: var(--fill-color);
    color: var(--white);
}
.in_jobcode>div{
    text-align: center;
    padding: 5px;
}
.grid_item_count{
    display: grid;
    grid-template-columns: repeat( 1, 1fr );
}
.grid_item_count .item-content-box:nth-child(2){
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(160, 160, 160, 0.24);
}

.item-content-box{
    color: var(--dark);
    text-align: center;
    padding: 10px;
}
.item-content-box .count{
    font-size: var(--fs-clamp-64);
    font-weight: bold;
    color: var(--dark-blue);
}

.grid_func_items{
    display: grid;
    gap:20px;
    /* grid-template-columns: repeat( 3, 1fr ); */
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.func-box{
    border-radius: 25px;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100%;
    margin-bottom: 20px;
    min-height: 80px;
    transform: scale(1);
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}
.func-box:hover{
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--green);
}
.func-box .icon-box {
    margin-right: 10px;
    border-radius: 10px;
    color: #243547;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--light);
    border-radius: 100px;
    flex-shrink: 0;
}
.func-box .icon-box .icon {
    font-size: 24px;
}
.func-box .content {
    position: relative;
    color: #243547;
}
.func-box .title {
    font-size: var(--fs-clamp-20);
    text-transform: capitalize;
    color: var(--green);
    transition: all 0.4s ease-in-out;
    font-weight: 600;
    margin: 0;
}

.label-strip{
    background: var(--light);
    color: var(--dark);
    padding: 10px;
    width: 100%;
}
.grid_checkbox{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}
.customDatepicker .gj-textbox-md{
    
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    font-size: var(--fs-clamp-14);
    padding: 12px 20px;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
}
.customDatepicker .gj-datepicker-md [role=right-icon],.customDatepicker .gj-timepicker-md [role=right-icon] {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 24px;
    margin: auto;
}

/*------------- modal css --------------------*/
.modal{
    --bs-modal-border-radius:20px;
    --bs-modal-padding:1.5rem;
}
.modal-tabs .modal-header{
    justify-content: center;
}
.modal-tabs .modal-content{
    border-radius: 0 var(--bs-modal-border-radius) var(--bs-modal-border-radius) var(--bs-modal-border-radius);
}
.modal-tabs .btn-close{
    position: absolute;
    right: 20px;
    top: -41px;
    --bs-btn-close-color: var(--dark);
    background: #fff;
    opacity: 1;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-radius: var(--bs-modal-border-radius);
}
.modal-tabs .nav-tabs{
    position: absolute;
    bottom: 100%;
    --bs-nav-tabs-border-radius:var(--bs-modal-border-radius);
}
.modal-tabs .nav-tabs .nav-link {
    border: var(--bs-nav-tabs-border-width) solid transparent;
    padding: 10px 30px;
    font-size: var(--fs-clamp-18);
    min-width: 120px;
    background: #ffffff54;
    backdrop-filter: blur(20px);
    color: var(--white);
}
.modal-tabs .nav-tabs .nav-item.show .nav-link,.modal .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
}
/*------------- modal css close --------------------*/

.userLogged_in{
    --pic-size:40px;
    width: var(--pic-size);
    height: var(--pic-size);
    border-radius:var(--pic-size);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.right-login .dropdown-menu{
    --bs-dropdown-border-radius:10px;
    box-shadow: 0 6px 12px #00000033;
    border: none;
    padding: 0;
    overflow: hidden;
    min-width: 200px;
    
}
.right-login .dropdown-menu .icon-link{
    --bs-dropdown-item-padding-x: 10px;
    --bs-dropdown-item-padding-y: 10px;
    gap: 15px;
    padding:var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 14px;
}
.tab-content.border-radius-10{
    border-top-left-radius: 0px;
}
.applicant_tabs{
    --bs-nav-tabs-border-radius:0px;
    --bs-nav-tabs-link-active-color:var(--dark) ;
    --bs-nav-tabs-link-active-bg: rgba(190, 188, 188, 0.49);
    border:none;
}
.applicant_tabs .nav-link.active{
    border-top: 2px solid var(--primary) !important;
}
.applicant_tabs .nav-link{
    min-width: 150px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    color: var(--dark);
    background-color: rgba(190, 188, 188, 0.25);
    flex-shrink: 0;
    border-top: 1px solid transparent;
    border: none;
}
